{% extends 'master' %}

{% block content %}
	<div class="container">
   		<div class="items-wrapper">
    		{% for item in items %} 

      			<div class="item">
        			<p>
        				{{ item.item_name }} 
       					{{ item.item_number }}
       					{{ item.item_price }} 
       				</p>
      			</div>

    		{% else %}

    			<h2> No items found </h2>
          <br>

    		{% endfor %}

          <a href="/items/create" class="buttonCreate">Create</a>

  		</div>
	</div>

{% endblock %}
