{% extends 'master' %}

{% block content %}

	<div class="container">
      <div class="createButton">
        <a href="/items/create" class="buttonCreate">Create</a>
      </div>

   	  <div class="itemDisplay">
        <table>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>number</th>
            <th>price</ht>
          </tr>
    		  {% for item in items %} 

      			  <tr>

                <td>  {{ item.item_id}} </td>
        				<td>  {{ item.item_name }} </td>
       					<td>  {{ item.item_number }} </td>
       					<td>  {{ item.item_price }} </td>
              <tr>

    		  {% else %}

    			  <h2> No items found </h2>
            <br>

    		  {% endfor %}
        </table>
  		</div>
	</div>

{% endblock %}
